In [10]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

# Series

In [8]:
obj = Series([4,7,-5,3])

In [3]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
obj.values

array([ 4,  7, -5,  3])

In [7]:
type(obj.values)

numpy.ndarray

In [8]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [5]:
type(obj.index)

pandas.core.index.Int64Index

In [11]:
obj2 = Series([4,7,-5,3], index=['d', 'b', 'a', 'c'])

In [12]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [15]:
obj2['d']

4

In [17]:
obj2[0] # 인덱스가 부여되어도 0 기반 인덱스가 기본적으로 계속 적용된다.

4

In [16]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [18]:
obj2['b']= 3
obj2

d    4
b    3
a   -5
c    3
dtype: int64

값 선택: 지정한 순서대로 표시

In [19]:
obj2[['c','a','d']]

c    3
a   -5
d    4
dtype: int64

In [11]:
# 값이 0보다 큰 항목만 선택
obj2[obj2>0]

d    4
b    7
c    3
dtype: int64

In [12]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [13]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [24]:
'b' in obj2

True

In [25]:
'e' in obj2

False

값의 존재 여부 확인

In [14]:
4 in obj2.values

True

dict으로 DataFrame 생성

In [19]:
sdata = {'Ohio' : 35000, 
         'Texas': 71000, 
         'Oregon': 16000, 
         'Utah': 5000}

In [20]:
obj3 = Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

Series를 dict으로 변환

In [21]:
dict(obj3)

{'Ohio': 35000, 'Oregon': 16000, 'Texas': 71000, 'Utah': 5000}

In [29]:
obj3.index

Index([u'Ohio', u'Oregon', u'Texas', u'Utah'], dtype='object')

In [30]:
obj3.values

array([35000, 16000, 71000,  5000])

In [23]:
# 원래 데이터에는 값이 없는 인덱스를 지정하는 경우
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

California      NaN
Ohio          35000
Oregon        16000
Texas         71000
dtype: float64

In [24]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [36]:
pd.notnull(obj4)

CA        False
Ohio       True
Oregon     True
Texas      True
dtype: bool

In [37]:
obj4.isnull()

CA         True
Ohio      False
Oregon    False
Texas     False
dtype: bool

In [38]:
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [39]:
obj4

CA          NaN
Ohio      35000
Oregon    16000
Texas     71000
dtype: float64

서로 인덱스가 어긋나기도 하는 두 Series의 연산

In [40]:
obj3+obj4

CA           NaN
Ohio       70000
Oregon     32000
Texas     142000
Utah         NaN
dtype: float64

In [41]:
obj4

CA          NaN
Ohio      35000
Oregon    16000
Texas     71000
dtype: float64

In [25]:
obj4.name = 'population'

In [26]:
obj4

California      NaN
Ohio          35000
Oregon        16000
Texas         71000
Name: population, dtype: float64

In [29]:
obj4.name is 'population'

True

In [27]:
obj4.index.name = 'state'

In [28]:
obj4

state
California      NaN
Ohio          35000
Oregon        16000
Texas         71000
Name: population, dtype: float64

In [46]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [47]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [48]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

## 연습문제

학생1은 국어, 영어, 수학 점수가 있고, 학생2는 영어, 수학, 과학 점수가 있다. 점수는 [0,100]의 범위로, 임의의 값이다. 다음을 1) 일반 파이썬 자료구조로 프로그래밍한 것과 2) pandas.Series를 사용해 해결한 것을 비교해 보시오.

a. 각 학생의 공통 과목 점수를 출력하시오.

b. 학생2의 점수 중 학생1은 없는 점수만을 출력하시오.

c. 과목 점수가 같은 것을 찾아, 동점이 있는 과목을 출력하시오.

In [33]:
# 일반 파이썬으로 수행하기
s1 = {u'국어':90, u'수학': 95, u'영어':85}
s2 = {u'영어':75, u'수학': 84, u'과학':50}

# 각 학생의 과목 목록 가져오기
s1_subjects = s1.keys()
s2_subjects = s2.keys()

# 공통 과목 알아내기 
# set 형으로 바꿔 교집합을 구한다.(교재 p.564 세트 참조)
common_sub = set(s1_subjects) & set(s2_subjects)
# 교집합을 구하고 나면 결과는 다시 list로 변환
common_sub = list(common_sub)

# 각 학생의 점수에서, 공통 과목 점수 출력
for s in [s1, s2]:
    print(id(s))
    # 공통 과목 출력
    for subject in common_sub:
        if subject in s:
            print(u'{}: {}'.format(subject, s[subject]))

4365960368
수학: 95
영어: 85
4406405392
수학: 84
영어: 75

In [30]:
# pandas로 수행하기
s1 = Series({u'국어':90, u'수학': 95, u'영어':85})
s2 = Series({u'영어':75, u'수학': 84, u'과학':50})

# 공통 과목만 표시
common_sub = s1.index & s2.index
print(common_sub)
print(s1[common_sub])
print(s2[common_sub])

Index([u'수학', u'영어'], dtype='object')
수학    95
영어    85
dtype: int64
수학    84
영어    75
dtype: int64

In [62]:
##### 같은 과목의 점수가 같은 경우만 추출
s1 = Series({u'국어':90, u'수학': 95, u'영어':85})
s3 = Series({u'영어':85, u'수학': 95, u'과학':50})

# 동점 과목명 구하기
# 불리언 필터 사용 고려 (p.143-145)
print(s1[s1 == s3])
print(s3[s3 == s1])

수학    95
영어    85
dtype: int64
수학    95
영어    85
dtype: int64

# DataFrame

In [69]:
data = {u'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

열을 특정한 방식으로 구성하고 싶으면, columns를 설정하면 된다.

In [70]:
frame = DataFrame(data, 
                  columns=['year', 'state', 'pop'])
frame

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [118]:
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                  index=['하나', '둘', '셋', '넷', '다섯', '여섯'])
#frame2 = frame2.reindex(['하나', '둘', '셋', '넷', '다섯', u'여섯'])
frame2

ValueError: Shape of passed values is (4, 5), indices imply (4, 6)

In [72]:
frame2.index

Index([u'하나', u'둘', u'셋', u'넷', u'다섯'], dtype='object')

In [63]:
frame2.columns

Index([u'year', u'state', u'pop', u'debt'], dtype='object')

특정 열 선택

In [78]:
frame2['state']

하나      Ohio
둘       Ohio
셋       Ohio
넷     Nevada
다섯    Nevada
Name: state, dtype: object

In [77]:
frame2.state

하나      Ohio
둘       Ohio
셋       Ohio
넷     Nevada
다섯    Nevada
Name: state, dtype: object

In [65]:
type(frame2['state'])

pandas.core.series.Series

행 선택

In [63]:
frame2.ix['셋']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: 셋, dtype: object

In [78]:
type(frame2.ix['셋'])

pandas.core.series.Series

In [81]:
# 브로드캐스팅
# 반복문으로 각 행을 반복하며 값을 설정하지 않아도 된다.
frame2.debt = 16.5
frame2

    year   state  pop  debt
하나  2000    Ohio  1.5  16.5
둘   2001    Ohio  1.7  16.5
셋   2002    Ohio  3.6  16.5
넷   2001  Nevada  2.4  16.5
다섯  2002  Nevada  2.9  16.5

In [83]:
frame2['debt'] = range(5)
frame2

    year   state  pop  debt
하나  2000    Ohio  1.5     0
둘   2001    Ohio  1.7     1
셋   2002    Ohio  3.6     2
넷   2001  Nevada  2.4     3
다섯  2002  Nevada  2.9     4

In [119]:
val = Series([-1.2, -1.5, -1.7, -1.8], 
             index=['둘', '넷', '다섯', '여섯'])
frame2['debt'] = val
frame2

    year   state  pop  debt
하나  2000    Ohio  1.5   NaN
둘   2001    Ohio  1.7  -1.2
셋   2002    Ohio  3.6   NaN
넷   2001  Nevada  2.4  -1.5
다섯  2002  Nevada  2.9  -1.7

칼럼 추가는 값 할당으로 가능

In [120]:
frame2[u'동부'] = frame2.state == 'Ohio'
frame2

    year   state  pop  debt     동부
하나  2000    Ohio  1.5   NaN   True
둘   2001    Ohio  1.7  -1.2   True
셋   2002    Ohio  3.6   NaN   True
넷   2001  Nevada  2.4  -1.5  False
다섯  2002  Nevada  2.9  -1.7  False

간단한 방식. 그러나 이후에 더 나은 방식이 있음.

In [121]:
del frame2[u'동부']
frame2

    year   state  pop  debt
하나  2000    Ohio  1.5   NaN
둘   2001    Ohio  1.7  -1.2
셋   2002    Ohio  3.6   NaN
넷   2001  Nevada  2.4  -1.5
다섯  2002  Nevada  2.9  -1.7

그런데, 인덱스는 다음의 방식으로 삭제 불가

In [149]:
del frame2.ix['다섯']

AttributeError: __delitem__

In [151]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
      'Ohio':{2000:1.5, 2001:1.7, 2002: 3.6}}
frame3 = DataFrame(pop)
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [152]:
frame3.T

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6

없는 인덱스를 추가하면, NaN이 설정된다.

In [153]:
DataFrame(pop, index=[2001,2002,2003])

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [157]:
pdata = {'Ohio': frame3['Ohio'][:-1],
        'Nevada': frame3['Nevada'][:2]}
DataFrame(pdata)

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7

## 연습문제

학생은 각각 국어, 수학, 과학의 점수를 갖는다. 학생 세 명의 점수를 DataFrame으로 표현하시오.

a. 모든 학생의 수학 점수를 출력하시오.

b. 각 학생의 과목 평균 입력을 위해 '평균' 열을 추가하시오. 평균값은 아직 계산하지 않아서, 초기값을 0이 되도록 한다.

c. 과목 점수는 국어, 수학, 과학의 순으로 표시하시오.

d. 각 학생의 성별 정보를 '남자' 또는 '여자'로 지정한다. 성별 정보를 활용해 새 열 '여성'을 추가하고, 성별 정보에 따라 True 또는 False의 값을 갖도록 한다. 그리고 문자열로 지정된 원래의 '성별' 열은 삭제한다.

In [156]:
scores = {u'학생1': {u'국어': 70, u'수학': 80, u'과학': 90} , 
          u'학생2': {u'수학': 90, u'국어': 80, u'과학': 100}, 
          u'학생3': {u'과학': 70,u'국어': 90, u'수학': 80}}

frame = DataFrame(scores, index=[u'국어', u'수학', u'과학'])
frame

    학생1  학생2  학생3
국어   70   80   90
수학   80   90   80
과학   90  100   70

In [145]:
scores = {u'학생1': {u'국어': 70, u'수학': 80, u'과학': 90, u'성별': u'남'} , 
          u'학생2': {u'수학': 90, u'국어': 80, u'과학': 100, u'성별': u'여'}, 
          u'학생3': {u'과학': 70,u'국어': 90, u'수학': 80, u'성별': u'여'}}

frame = frame.T # 행-열 바꾸기 (p.137 참조)
frame['평균'] = 0
frame[u'여성'] = frame[u'성별'] == u'여'
del frame[u'성별']
#frame = frame.T
frame

     국어  수학   과학     여성  평균
학생1  70  80   90  False   0
학생2  80  90  100   True   0
학생3  90  80   70   True   0

In [112]:
scores2 = {u'국어': {u'학생1': 70, u'학생2': 80, u'학생3': 90},
          u'수학': {u'학생1': 80, u'학생2':90, u'학생3': 80},
          u'과학': {u'학생1': 90, u'학생2':100, u'학생3': 70}}
frame2 = DataFrame(scores2)
frame2

      과학  국어  수학
학생1   90  70  80
학생2  100  80  90
학생3   70  90  80

In [115]:
scores = {u'학생1': [70, 80, 90],
         u'학생2': [80, 90, 100],
         u'학생3': [90, 80]} # 오류! 개수가 맞아야 함.
frame = DataFrame(scores, index=[u'국어', u'수학', u'과학'])
frame

ValueError: could not broadcast input array from shape (2) into shape (3)

## 연습문제

시험 대상 과목 전체는 국어, 수학, 과학, 영어, 프로그래밍이다. 학생들은 세 과목 이상의 점수가 필요하지만 전체 과목을 다 시험볼 필요는 없다. 시험 기준을 충족하는 학생 3명의 정보를 DataFrame으로 구성한다. 이 때, DataFrame에는 모든 과목의 열이 포함되어야 한다.

## 색인 객체

In [159]:
obj = Series(range(3), index=['a', 'b', 'c'])
obj

a    0
b    1
c    2
dtype: int64

In [160]:
index = obj.index
index

Index([u'a', u'b', u'c'], dtype='object')

In [91]:
index[0]

'a'

In [90]:
index[1:]

Index([u'b', u'c'], dtype='object')

In [93]:
index[1] = 'a' # 오류!

TypeError: Indexes does not support mutable operations

In [161]:
obj2 = Series([1.5, -2.5, 0], index=index)
obj2

a    1.5
b   -2.5
c    0.0
dtype: float64

In [162]:
obj.index is obj2.index

True

## 재색인

In [94]:
obj = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])

In [95]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

객체가 생성된 이후 인덱스 조작

In [96]:
obj2 = obj.reindex(['a','b','c','d','e'])

In [97]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [163]:
obj is obj2

False

In [98]:
obj.reindex(['a','b','c','d','e'], fill_value=0)

a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
dtype: float64

In [166]:
obj3 = Series(['blue', 'purple', 'yellow'], index=[0,2,4])
obj3

0      blue
2    purple
4    yellow
dtype: object

중간을 채워주는 보간(interpolation)

In [168]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [167]:
obj3.reindex(range(6), method='bfill')

0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

DataFrame 재색인

In [171]:
data = np.arange(9).reshape((3,3))
frame = DataFrame(data, index=['a', 'c', 'd'], 
                  columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [172]:
frame2 = frame.reindex(['a','b','c','d'])
frame2

   Ohio  Texas  California
a     0      1           2
b   NaN    NaN         NaN
c     3      4           5
d     6      7           8

In [174]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [175]:
frame.reindex(index=['a', 'b', 'c', 'd'], method='ffill', columns=states)

   Texas  Utah  California
a      1   NaN           2
b      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [176]:
frame.ix[['a', 'b', 'c', 'd'], states]

   Texas  Utah  California
a      1   NaN           2
b    NaN   NaN         NaN
c      4   NaN           5
d      7   NaN           8

## 연습문제

성주는 SJ전자와 매크로소프트 사의 주식을 가지고 있다. 

a. 각 주식의 10일 간의 가격을 DataFrame으로 표현하시오. 가격 정보는 임의로 설정하시오.

b. 메론 사의 주식 정보를 DataFrame에 추가하시오.

c. 매크로소프트, 메론, SJ전자 순으로 회사명이 행 방향으로 표시되도록 하시오.

d. 코드베이직 사는 5일 전에 새로 상장되었다. 그래서 지난 5일 간의 가격만 있고, 이전 가격은 없다. 코드베이직 사의 가격을 DataFrame에 추가하시오.

In [196]:
# 문제 a
stock_prices = {u'SJ전자': np.random.randint(100,200, size=10),
               u'매크로소프트': np.random.randint(100,200, size=10)}
frame = DataFrame(stock_prices)
frame

   SJ전자  매크로소프트
0   137     104
1   192     193
2   139     194
3   138     146
4   133     168
5   157     197
6   178     135
7   140     144
8   134     197
9   101     192

In [197]:
# 문제 b
frame[u'메론'] = np.random.randint(100,200, size=10)
frame

   SJ전자  매크로소프트   메론
0   137     104  149
1   192     193  161
2   139     194  100
3   138     146  140
4   133     168  177
5   157     197  186
6   178     135  148
7   140     144  139
8   134     197  192
9   101     192  105

In [200]:
# 문제 c
frame.reindex(columns=[u'매크로소프트', u'메론', u'SJ전자']).T

          0    1    2    3    4    5    6    7    8    9
매크로소프트  104  193  194  146  168  197  135  144  197  192
메론      149  161  100  140  177  186  148  139  192  105
SJ전자    137  192  139  138  133  157  178  140  134  101

행열 삭제

In [112]:
obj=Series(np.arange(5.), index=['a','b','c','d','e'])

In [113]:
obj

a    0
b    1
c    2
d    3
e    4
dtype: float64

In [114]:
obj.drop('c')

a    0
b    1
d    3
e    4
dtype: float64

In [115]:
obj.drop(['d', 'c'])

a    0
b    1
e    4
dtype: float64

In [116]:
data = np.arange(16).reshape((4,4))

In [117]:
data

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [118]:
frame = DataFrame(data, index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one','two', 'trois', 'quatre'])

In [119]:
frame

          one  two  trois  quatre
Ohio        0    1      2       3
Colorado    4    5      6       7
Utah        8    9     10      11
New York   12   13     14      15

In [120]:
frame.drop(['Colorado', 'Ohio'])

          one  two  trois  quatre
Utah        8    9     10      11
New York   12   13     14      15

In [123]:
frame.drop(['one','two'], axis=1)

          trois  quatre
Ohio          2       3
Colorado      6       7
Utah         10      11
New York     14      15

## 산술연산

In [124]:
s1 = Series([7.3, -2.5, 3.4, 1.5], index=['a','c','d','e'])
s2 = Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a','c','e','f','g'])

In [125]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [126]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [127]:
s1+s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [132]:
df1 = DataFrame(np.arange(9.0).reshape((3,3)),
              columns=list('bcd'),
              index=['Ohio', 'Texas', 'Colorado'])
df2 = DataFrame(np.arange(12.).reshape((4,3)), 
               columns=list('bde'),
              index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [133]:
df1

          b  c  d
Ohio      0  1  2
Texas     3  4  5
Colorado  6  7  8

In [134]:
df2

        b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11

In [135]:
df1+df2

           b   c   d   e
Colorado NaN NaN NaN NaN
Ohio       3 NaN   6 NaN
Oregon   NaN NaN NaN NaN
Texas      9 NaN  12 NaN
Utah     NaN NaN NaN NaN

In [136]:
df1

          b  c  d
Ohio      0  1  2
Texas     3  4  5
Colorado  6  7  8

In [137]:
s1 = df1.ix[0]

In [138]:
s1

b    0
c    1
d    2
Name: Ohio, dtype: float64

In [139]:
df1 - s1

          b  c  d
Ohio      0  0  0
Texas     3  3  3
Colorado  6  6  6

In [142]:
data = np.random.randn(4,3)
frame = DataFrame(data, 
               columns=list('bde'),
              index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [143]:
frame

               b         d         e
Utah   -0.443940  0.226324  0.186033
Ohio    1.548336  1.358102 -1.053157
Texas  -0.342912 -1.610758 -0.259303
Oregon  0.287597 -0.506503  0.311234

In [144]:
np.abs(frame)

               b         d         e
Utah    0.443940  0.226324  0.186033
Ohio    1.548336  1.358102  1.053157
Texas   0.342912  1.610758  0.259303
Oregon  0.287597  0.506503  0.311234

In [145]:
frame.apply(np.abs)

               b         d         e
Utah    0.443940  0.226324  0.186033
Ohio    1.548336  1.358102  1.053157
Texas   0.342912  1.610758  0.259303
Oregon  0.287597  0.506503  0.311234

In [147]:
def maxmindiff(x):
    return x.max() - x.min()

In [148]:
frame.apply(maxmindiff)

b    1.992276
d    2.968860
e    1.364391
dtype: float64

In [149]:
frame.apply(maxmindiff, axis=1)

Utah      0.670263
Ohio      2.601493
Texas     1.351455
Oregon    0.817737
dtype: float64

In [150]:
def f(x):
    return Series([x.min(), x.max()], index=['min', 'max'])

In [151]:
frame.apply(f)

            b         d         e
min -0.443940 -1.610758 -1.053157
max  1.548336  1.358102  0.311234

In [152]:
frame.apply(f, axis=1)

             min       max
Utah   -0.443940  0.226324
Ohio   -1.053157  1.548336
Texas  -1.610758 -0.259303
Oregon -0.506503  0.311234

# 도전과제

공공데이터 활용

다음 코드저장소에서 제주도 관광객 유동인구 데이터를 다운로드 받는다.
https://github.com/lseongjoo/py_data_go_kr

1. 각 데이터 파일을 DataFrame으로 읽어들인다. (p.222-227)
2. 각 DataFrame의 STD_YM 열 제목을 '기준연월'로 변경 (p.170-172)
3. FLOW_ ...로 시작하는 컬럼 중, 값이 150 이상인 것만 선택 (p.180-183, 문자열 처리 관련: p.291-298)
4. 모든 DataFrame을 합쳐서 단일한 DataFrame으로 생성 (p.253-269)
5. 해당 셀의 유동인구 평균을 구하기 (p.195-198)

In [169]:
path='py_data_go_kr/data/jeju/'

In [170]:
path += 'cell_300m_201406/'
path += '3-2-1-2. 시간대별_관광객_300그리드단위_유동인구_비율포함_201406.txt'

In [171]:
open(path)

<open file 'py_data_go_kr/data/jeju/cell_300m_201406/3-2-1-2. \xe1\x84\x89\xe1\x85\xb5\xe1\x84\x80\xe1\x85\xa1\xe1\x86\xab\xe1\x84\x83\xe1\x85\xa2\xe1\x84\x87\xe1\x85\xa7\xe1\x86\xaf_\xe1\x84\x80\xe1\x85\xaa\xe1\x86\xab\xe1\x84\x80\xe1\x85\xaa\xe1\x86\xbc\xe1\x84\x80\xe1\x85\xa2\xe1\x86\xa8_300\xe1\x84\x80\xe1\x85\xb3\xe1\x84\x85\xe1\x85\xb5\xe1\x84\x83\xe1\x85\xb3\xe1\x84\x83\xe1\x85\xa1\xe1\x86\xab\xe1\x84\x8b\xe1\x85\xb1_\xe1\x84\x8b\xe1\x85\xb2\xe1\x84\x83\xe1\x85\xa9\xe1\x86\xbc\xe1\x84\x8b\xe1\x85\xb5\xe1\x86\xab\xe1\x84\x80\xe1\x85\xae_\xe1\x84\x87\xe1\x85\xb5\xe1\x84\x8b\xe1\x85\xb2\xe1\x86\xaf\xe1\x84\x91\xe1\x85\xa9\xe1\x84\x92\xe1\x85\xa1\xe1\x86\xb7_201406.txt', mode 'r' at 0x106afaae0>

In [185]:
df = pd.read_csv(path, sep='|')

In [198]:
id(df.rename(columns={'STD_YM': u'기준연월'}))

4409061968

In [199]:
id(df)

4409219984

,STD_YM,ID_300,FLOW_POP_CNT_00TMST,FLOW_POP_CNT_01TMST,FLOW_POP_CNT_02TMST,FLOW_POP_CNT_03TMST,FLOW_POP_CNT_04TMST,FLOW_POP_CNT_05TMST,FLOW_POP_CNT_06TMST,FLOW_POP_CNT_07TMST,...,TMST14_PROP,TMST15_PROP,TMST16_PROP,TMST17_PROP,TMST18_PROP,TMST19_PROP,TMST20_PROP,TMST21_PROP,TMST22_PROP,TMST23_PROP
0,201406,1000031709,312.947980,263.972057,227.917759,205.601048,185.977212,191.715499,247.301449,442.487208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201406,1000030747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201406,1000031707,229.957330,194.422903,171.347177,156.791958,NaN,152.302163,179.773830,246.357064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,201406,1000031388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183.529660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201406,1000031708,384.201369,320.784622,278.623635,248.432039,224.149070,222.451515,258.032368,347.026334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,201406,1000030741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,201406,1000032349,203.903159,164.497839,NaN,NaN,NaN,NaN,NaN,194.413885,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,201406,1000032027,236.215989,193.343749,166.153644,NaN,NaN,NaN,185.725042,264.442162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,201406,1000031390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,201406,1000029783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,201406,1000031384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,201406,1000032028,290.680033,239.531440,205.811635,179.965713,163.688223,164.270719,190.419078,248.770715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,201406,1000031706,198.493194,167.362223,NaN,NaN,NaN,NaN,158.997026,227.081256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,201406,1000031705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,201406,1000031387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,201406,1000031389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,201406,1000031067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,201406,1000032026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,201406,1000031064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,201406,1000031386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,201406,1000031068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,201406,1000031062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,201406,1000030426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,201406,1000032668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,201406,1000030740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,201406,1000030748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,201406,1000030743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,201406,1000029776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,201406,1000031385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,201406,1000032029,330.171191,270.769124,230.724194,198.578698,172.605522,168.776379,193.338238,247.989489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10080,201406,1000044802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10081,201406,1000028297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10082,201406,1000041147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10083,201406,1000051371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10084,201406,1000050408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10085,201406,1000034250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10086,201406,1000062137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10087,201406,1000048195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10088,201406,1000042731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10089,201406,1000041773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10090,201406,1000036177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10091,201406,1000033936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10092,201406,1000057351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10093,201406,1000051692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10094,201406,1000058706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10095,201406,1000033619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10096,201406,1000034248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10097,201406,1000033927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10098,201406,1000042411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10099,201406,1000041466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10100,201406,1000060237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10101,201406,1000027975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10102,201406,1000052670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10103,201406,1000060517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10104,201406,1000034898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10105,201406,1000050094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10106,201406,1000062165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10107,201406,1000039850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10108,201406,1000043052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10109,201406,1000038561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
text = 'abcdefg'

In [202]:
'f' in text

True

In [203]:
'z' in text

False

In [204]:
column_title = 'FLOW_ADBD_@#SD'

In [205]:
'FLOW' in column_title

True

In [206]:
column_title.startswith('FLOW')

True

In [207]:
text.startswith('FLOW')

False

In [211]:
df.ix[:, 2:26]

,FLOW_POP_CNT_00TMST,FLOW_POP_CNT_01TMST,FLOW_POP_CNT_02TMST,FLOW_POP_CNT_03TMST,FLOW_POP_CNT_04TMST,FLOW_POP_CNT_05TMST,FLOW_POP_CNT_06TMST,FLOW_POP_CNT_07TMST,FLOW_POP_CNT_08TMST,FLOW_POP_CNT_09TMST,...,FLOW_POP_CNT_14TMST,FLOW_POP_CNT_15TMST,FLOW_POP_CNT_16TMST,FLOW_POP_CNT_17TMST,FLOW_POP_CNT_18TMST,FLOW_POP_CNT_19TMST,FLOW_POP_CNT_20TMST,FLOW_POP_CNT_21TMST,FLOW_POP_CNT_22TMST,FLOW_POP_CNT_23TMST
0,312.947980,263.972057,227.917759,205.601048,185.977212,191.715499,247.301449,442.487208,688.423933,888.531516,...,1138.312915,1184.986910,1245.823507,1258.707056,1144.729222,1226.610491,1138.467891,744.187404,489.890158,397.322058
1,18.193314,15.509624,13.867847,13.212539,13.960532,18.830753,25.140180,46.738624,76.003871,110.992041,...,117.977985,117.473812,111.585392,115.557487,116.414865,115.656518,101.270971,76.442413,42.730958,24.130665
2,229.957330,194.422903,171.347177,156.791958,148.733874,152.302163,179.773830,246.357064,300.115032,364.484013,...,411.619763,429.540700,443.005242,482.816205,498.294433,487.882150,473.621185,420.960741,342.322612,289.288422
3,94.882052,82.826656,72.077200,66.594590,63.615477,67.900363,92.345489,183.529660,310.078252,412.194076,...,510.937001,529.686592,556.417113,555.533683,490.051814,515.724891,463.026371,270.919758,150.530293,116.990681
4,384.201369,320.784622,278.623635,248.432039,224.149070,222.451515,258.032368,347.026334,426.719569,521.279478,...,607.059362,633.787879,652.958477,721.976905,756.216414,765.123693,756.533046,684.120176,571.412544,483.642521
5,8.431997,6.973419,6.201712,5.813938,5.822956,6.486948,7.738446,11.151926,14.857656,20.618822,...,23.451977,24.103110,24.446629,26.361284,26.822037,24.792152,22.984711,19.672767,14.025662,10.702028
6,203.903159,164.497839,136.066924,118.704268,107.511427,114.021087,143.363488,194.413885,240.185412,286.868425,...,327.865088,344.315423,362.400354,398.187619,425.294558,422.745637,418.659648,376.761185,317.054844,262.566919
7,236.215989,193.343749,166.153644,148.948135,141.319408,149.243558,185.725042,264.442162,350.547028,448.065342,...,510.865692,533.066171,557.648738,600.816735,617.647997,596.711708,569.497889,476.589109,370.980647,299.577459
8,51.910113,44.783555,40.537079,37.007534,34.810983,38.414008,46.559767,70.005064,101.333429,128.684355,...,151.107779,152.635662,155.787286,160.313487,161.588699,158.374784,141.840782,104.845940,75.573345,61.390202
9,37.495007,29.403356,24.888177,23.084243,24.883334,37.626603,57.908085,125.309786,216.890582,314.122491,...,353.008942,355.158232,348.272989,356.739722,343.878885,350.073249,305.973726,207.315136,105.267281,55.562403
10,53.102493,44.402127,39.036083,36.442573,35.781587,37.697077,44.857870,62.449650,81.604884,107.008924,...,120.461943,124.930529,129.454559,141.759954,142.773811,131.113871,122.998840,106.161900,80.335851,65.894025
11,290.680033,239.531440,205.811635,179.965713,163.688223,164.270719,190.419078,248.770715,292.937873,352.813218,...,418.765526,443.944450,462.173001,505.513342,532.842391,530.489027,534.719471,492.833366,421.488461,361.427913
12,198.493194,167.362223,146.138694,132.989281,126.580155,131.182174,158.997026,227.081256,294.550425,368.274746,...,415.270884,432.608657,449.627460,482.116642,486.033460,478.771131,458.555113,383.543890,298.779533,247.652817
13,76.138139,62.224367,54.357331,50.780525,50.185003,54.095141,66.537977,103.351958,153.835724,208.700234,...,242.949262,249.692555,255.643767,271.771792,264.483578,239.152183,216.335140,172.731774,121.431712,96.171960
14,90.234275,78.440401,69.464986,64.103284,61.086596,62.267787,73.445431,101.826413,133.859351,169.281554,...,175.841481,181.203183,184.677952,203.994341,210.198892,204.475134,193.678083,168.714422,132.122384,110.067362
15,86.399788,75.414361,67.676082,62.596443,59.706675,64.421252,78.752023,124.839013,187.388696,242.239345,...,281.567177,287.404996,295.553594,303.667122,292.976617,291.376256,262.192338,185.029153,126.207411,102.245750
16,16.192821,14.774156,13.421957,12.779508,12.465047,12.481747,13.637721,17.759281,22.243732,27.813850,...,26.968997,27.911879,28.187930,31.598404,32.244360,31.156856,29.764744,26.618130,21.144538,18.511616
17,124.639615,96.210871,81.740989,73.236514,71.689426,78.998849,100.558883,145.837760,202.991673,276.467999,...,340.267343,357.081237,373.297605,400.557850,405.248212,365.579366,341.234774,288.579340,217.876884,167.895454
18,16.610321,14.390724,12.804391,11.893573,11.408104,11.784522,14.135715,21.266281,31.105587,40.873751,...,43.580988,44.606201,45.086660,48.863031,48.473086,46.109535,42.155476,34.371272,25.084068,20.344274
19,100.817733,85.175177,74.586041,67.529456,63.489559,65.306686,79.982980,113.156528,148.322553,186.526976,...,202.530252,208.537409,213.748978,234.279624,243.230156,237.395343,225.371844,195.956798,154.718653,127.041910
20,10.974405,9.711384,8.824614,8.330962,8.171811,8.938508,10.623037,16.925283,25.886336,35.070334,...,36.925036,37.343705,36.663347,38.794601,38.506526,37.311140,33.438911,26.042982,17.312222,13.077937
21,15.956015,13.022493,11.428144,10.645749,10.376879,11.080450,13.537688,20.615816,30.163707,40.746664,...,47.397105,48.829297,50.235771,53.723566,52.543711,47.846502,43.520701,35.326345,25.361622,20.182284
22,2.560444,2.149290,1.917661,1.825644,2.024374,3.063782,4.229609,7.784705,12.072263,18.039340,...,19.117325,18.902730,17.671272,18.312552,18.985729,19.165421,16.915597,13.229740,7.275522,3.682517
23,92.995119,73.742357,63.657060,59.189142,57.928125,63.392866,80.956423,118.834194,167.353205,227.615990,...,264.249110,273.659226,296.694705,323.377965,344.326946,312.208671,277.377982,228.535993,169.611713,125.192719
24,11.784689,9.839640,8.848829,8.369038,8.279192,8.717734,10.114355,14.563736,20.473031,27.431420,...,31.212133,32.323852,33.236841,35.678882,34.984329,31.609927,29.116450,23.916237,17.522141,14.350644
25,6.846833,5.638254,5.024362,4.792232,5.309598,7.371714,9.880221,18.717861,30.558328,44.970094,...,47.770851,47.545234,45.068290,46.539894,46.836319,46.640595,40.864065,30.653351,16.894722,9.189175
26,2.633757,2.260846,2.022704,1.929017,1.942210,2.024541,2.210913,2.884257,3.743305,4.866213,...,5.439524,5.761667,6.024859,6.594162,6.493795,5.769182,5.507159,4.758665,3.651455,3.150956
27,0.914158,0.742983,0.639276,0.600365,0.600198,0.666664,0.923009,1.534730,2.085162,2.703730,...,2.678680,2.778713,2.840169,3.401623,3.549418,3.608703,3.347849,2.677845,1.718764,1.238639
28,54.428974,44.782052,38.575497,34.385801,32.313164,33.626953,43.516025,65.276125,91.353175,119.709775,...,130.890926,133.673480,137.228409,150.125986,154.819855,147.931439,137.437493,117.558982,89.079303,70.058838
29,330.171191,270.769124,230.724194,198.578698,172.605522,168.776379,193.338238,247.989489,283.678558,330.915677,...,414.507527,437.341103,454.005699,499.232138,535.205107,556.528168,571.672897,539.939724,477.455505,411.361247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10080,0.044923,0.041917,0.040581,0.043587,0.043420,0.048263,0.051937,0.059285,0.053440,0.053941,...,0.052939,0.062124,0.065798,0.060955,0.061790,0.068637,0.060621,0.051937,0.046426,0.050100
10081,0.042919,0.036573,0.035571,0.034903,0.039913,0.044756,0.048764,0.058617,0.062959,0.074649,...,0.072812,0.068804,0.073313,0.070140,0.076820,0.066800,0.063293,0.051436,0.045090,0.041750
10082,0.046426,0.040748,0.040581,0.041583,0.044589,0.047762,0.057615,0.068971,0.094856,0.142618,...,0.148797,0.149131,0.139946,0.121075,0.104542,0.089178,0.080661,0.065798,0.053273,0.053607
10083,0.089846,0.088343,0.089345,0.083333,0.090180,0.094355,0.104041,0.123079,0.138777,0.156312,...,0.151135,0.143119,0.144956,0.154642,0.142451,0.129592,0.119906,0.101870,0.092518,0.091516
10084,0.052104,0.050100,0.049933,0.047595,0.052104,0.053941,0.059285,0.069639,0.077655,0.089011,...,0.084669,0.081663,0.082331,0.087174,0.078657,0.073146,0.066299,0.057448,0.051603,0.052271
10085,0.129425,0.142618,0.140280,0.140948,0.146793,0.166332,0.139612,0.143453,0.179692,0.156980,...,0.120908,0.124081,0.122745,0.137775,0.135604,0.123747,0.175350,0.145290,0.153640,0.158650
10086,0.058951,0.052271,0.050601,0.051269,0.053273,0.055110,0.070641,0.085838,0.104876,0.134602,...,0.139111,0.144455,0.137942,0.131429,0.140280,0.128423,0.112892,0.090848,0.070808,0.065464
10087,0.087675,0.090514,0.090848,0.092184,0.094188,0.097528,0.103707,0.116566,0.124081,0.142785,...,0.158817,0.161155,0.159318,0.147962,0.139779,0.126753,0.120407,0.102371,0.096192,0.090347
10088,0.064128,0.066466,0.063293,0.065631,0.066800,0.067802,0.074148,0.081162,0.088510,0.101035,...,0.111222,0.113393,0.111723,0.104876,0.099532,0.089846,0.084836,0.072144,0.068136,0.064128
10089,0.088009,0.090848,0.091182,0.092518,0.094689,0.098029,0.103874,0.117735,0.125584,0.143787,...,0.160320,0.163159,0.160654,0.151135,0.142117,0.128089,0.122244,0.102872,0.096693,0.090347
10090,0.057281,0.050267,0.048931,0.045758,0.048764,0.051937,0.057615,0.065631,0.087174,0.061957,...,0.058784,0.059953,0.070641,0.072812,0.067301,0.044923,0.053440,0.053106,0.048430,0.055778
10091,0.062959,0.055778,0.053941,0.051102,0.054609,0.058617,0.063794,0.071643,0.094021,0.067969,...,0.062124,0.065798,0.077154,0.079826,0.072979,0.050267,0.059953,0.057448,0.052772,0.061456
10092,0.041583,0.041082,0.041416,0.044255,0.043587,0.041249,0.051269,0.064963,0.077822,0.097862,...,0.105544,0.108717,0.108717,0.100868,0.112057,0.082498,0.071309,0.055444,0.049766,0.045257
10093,0.058617,0.055778,0.055611,0.052772,0.056780,0.059452,0.065130,0.076152,0.087341,0.100200,...,0.096025,0.090180,0.091850,0.097695,0.090013,0.082164,0.074816,0.063460,0.057448,0.057448
10094,0.000167,0.000000,0.000000,0.000000,0.000000,0.000000,0.000167,0.000167,0.003841,0.011690,...,0.017535,0.012191,0.014863,0.013861,0.009018,0.004843,0.002839,0.001670,0.000167,0.000000
10095,0.079993,0.071977,0.069806,0.065464,0.068470,0.074983,0.082164,0.092685,0.121242,0.085838,...,0.080327,0.085504,0.098530,0.103707,0.094856,0.064295,0.077822,0.072645,0.066132,0.079158
10096,0.082164,0.089011,0.087508,0.090180,0.092685,0.105210,0.085337,0.089679,0.112391,0.097361,...,0.072979,0.077989,0.075150,0.085003,0.080160,0.076653,0.109051,0.089846,0.097194,0.099198
10097,0.106379,0.115397,0.112725,0.114896,0.119572,0.133600,0.114562,0.117902,0.144956,0.130427,...,0.100868,0.102705,0.100868,0.110888,0.109218,0.102705,0.143453,0.118403,0.125751,0.128423
10098,0.055611,0.058116,0.054943,0.056112,0.059118,0.059118,0.063961,0.071309,0.074482,0.087007,...,0.094856,0.097862,0.095858,0.090848,0.085671,0.077321,0.073647,0.061456,0.059285,0.055945
10099,0.034736,0.029726,0.029392,0.031563,0.034068,0.036573,0.045257,0.053273,0.072311,0.107882,...,0.113226,0.115564,0.105377,0.092351,0.080661,0.068136,0.062625,0.049599,0.042084,0.039913
10100,0.025050,0.023881,0.023380,0.025217,0.024716,0.025050,0.030561,0.036740,0.046092,0.056613,...,0.061122,0.063794,0.061790,0.057782,0.065464,0.049933,0.043587,0.034068,0.029058,0.027054
10101,0.068971,0.058450,0.058283,0.058283,0.062124,0.070307,0.081162,0.093687,0.105043,0.123747,...,0.120073,0.116232,0.123079,0.116399,0.126252,0.112558,0.104876,0.085337,0.072812,0.067301
10102,0.064796,0.062792,0.061456,0.058951,0.063293,0.065631,0.072311,0.085003,0.097194,0.111055,...,0.106713,0.101202,0.101369,0.110053,0.101035,0.091349,0.084335,0.071810,0.063460,0.064462
10103,0.018036,0.016366,0.015531,0.015531,0.015197,0.015531,0.020040,0.030227,0.035070,0.044422,...,0.047094,0.047094,0.046092,0.045758,0.048096,0.044756,0.039078,0.030227,0.023380,0.019873
10104,0.195724,0.175851,0.166833,0.164829,0.168336,0.186372,0.197561,0.225116,0.290914,0.215597,...,0.202905,0.218770,0.251836,0.262190,0.233466,0.161990,0.193386,0.183032,0.161823,0.186706
10105,0.062291,0.059786,0.058784,0.055611,0.060454,0.062959,0.068971,0.081329,0.091349,0.105377,...,0.101369,0.095691,0.096359,0.104041,0.094856,0.086840,0.079325,0.068804,0.061289,0.061957
10106,0.020040,0.018370,0.018370,0.018871,0.019038,0.018036,0.022879,0.029559,0.036573,0.046593,...,0.048096,0.048263,0.049766,0.045758,0.052271,0.041082,0.033901,0.025217,0.022211,0.020875
10107,0.023714,0.024549,0.025551,0.025050,0.025050,0.026052,0.029058,0.032565,0.035237,0.042585,...,0.045257,0.045591,0.045758,0.043587,0.040581,0.036072,0.035404,0.030227,0.027054,0.024382
10108,0.063794,0.066466,0.062458,0.065130,0.066800,0.067468,0.073981,0.080828,0.088009,0.100367,...,0.109719,0.112391,0.110554,0.104041,0.098530,0.089345,0.084001,0.071643,0.067969,0.063627
10109,0.043253,0.037909,0.038076,0.038243,0.040748,0.044756,0.052939,0.064128,0.087508,0.130427,...,0.137441,0.137942,0.129091,0.110721,0.095357,0.082498,0.074482,0.059452,0.048931,0.049432

## 계층 색인

In [212]:
data = Series(np.random.randn(10),
             index=[['a','a','a', 'b','b','b','c','c','d','d'],
                   [1,2,3,1,2,3,1,2,2,3]])

In [213]:
data

a  1    0.263428
   2    0.008796
   3   -0.176001
b  1    0.442951
   2   -1.133848
   3   -0.625826
c  1   -2.355475
   2    0.176855
d  2    0.714299
   3   -0.341819
dtype: float64

In [214]:
type(data.index)

pandas.core.index.MultiIndex

In [215]:
data.index

MultiIndex(levels=[[u'a', u'b', u'c', u'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [216]:
data['b']

1    0.442951
2   -1.133848
3   -0.625826
dtype: float64

In [217]:
type(data['b'])

pandas.core.series.Series

In [218]:
data['b':'c']

b  1    0.442951
   2   -1.133848
   3   -0.625826
c  1   -2.355475
   2    0.176855
dtype: float64

In [219]:
data.ix[['b','d']]

b  1    0.442951
   2   -1.133848
   3   -0.625826
d  2    0.714299
   3   -0.341819
dtype: float64

In [223]:
data[:,3]

a   -0.176001
b   -0.625826
d   -0.341819
dtype: float64

In [224]:
data

a  1    0.263428
   2    0.008796
   3   -0.176001
b  1    0.442951
   2   -1.133848
   3   -0.625826
c  1   -2.355475
   2    0.176855
d  2    0.714299
   3   -0.341819
dtype: float64

In [227]:
data.unstack()

          1         2         3
a  0.263428  0.008796 -0.176001
b  0.442951 -1.133848 -0.625826
c -2.355475  0.176855       NaN
d       NaN  0.714299 -0.341819

In [228]:
type(data.unstack())

pandas.core.frame.DataFrame

In [229]:
data.unstack().stack()

a  1    0.263428
   2    0.008796
   3   -0.176001
b  1    0.442951
   2   -1.133848
   3   -0.625826
c  1   -2.355475
   2    0.176855
d  2    0.714299
   3   -0.341819
dtype: float64

In [230]:
frame = DataFrame(np.arange(12).reshape((4,3)),
                 index=[['a','a','b','b'], [1,2,1,2]],
                 columns=[['Ohio','Ohio', 'Colorado'],
                         ['Green','Red','Green']])

In [231]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [232]:
frame.index.names

FrozenList([None, None])

In [233]:
frame.index.names = ['key1', 'key2']

In [234]:
frame

           Ohio     Colorado
          Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [235]:
frame.columns.names = ['state', 'color']

In [236]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [237]:
frame.swaplevel('key1','key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [242]:
frame.sortlevel(1)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [243]:
frame.sum()

state     color
Ohio      Green    18
          Red      22
Colorado  Green    26
dtype: int64

In [246]:
frame.sum(level='key1')

state  Ohio     Colorado
color Green Red    Green
key1
a         3   5        7
b        15  17       19

In [248]:
frame.sum(level='color', axis=1)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

In [249]:
frame = DataFrame({'a': range(7),
                  'b': range(7,0, -1),
                  'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'],
                  'd':[0,1,2,0,1,2,3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [250]:
frame2 = frame.set_index(['c','d'])

In [252]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

# 데이터 로딩, 저장, 파일 형식

In [253]:
data = pd.read_csv('pydata/ch06/ex5.csv')

In [254]:
data

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [255]:
data.to_csv('out.csv')

# 데이터 합치기

In [260]:
df1 = DataFrame({'key': ['b','b','a','c','a','a','b'],
                'data1': range(7)})
df2 = DataFrame({'key':['a','b','d'],
                'data2': range(3)})

In [261]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [262]:
pd.merge(df1, df2)

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [263]:
pd.merge(df2, df1)

   data2 key  data1
0      0   a      2
1      0   a      4
2      0   a      5
3      1   b      0
4      1   b      1
5      1   b      6

In [265]:
df3 = DataFrame({'lkey': ['b','b','a','c','a','a','b'],
                'data1': range(7)})
df4 = DataFrame({'rkey':['a','b','d'],
                'data2': range(3)})

In [266]:
df3

   data1 lkey
0      0    b
1      1    b
2      2    a
3      3    c
4      4    a
5      5    a
6      6    b

In [267]:
df4

   data2 rkey
0      0    a
1      1    b
2      2    d

In [268]:
pd.merge(df3, df4)

MergeError: No common columns to perform merge on

In [269]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

   data1 lkey  data2 rkey
0      0    b      1    b
1      1    b      1    b
2      6    b      1    b
3      2    a      0    a
4      4    a      0    a
5      5    a      0    a

## 축 따라 이어붙이기

In [270]:
s1 = Series([0,1], index=['a','b'])
s2 = Series([2,3,4], index=['c','d', 'e'])
s3 = Series([5,6], index=['f','g'])

In [271]:
s1

a    0
b    1
dtype: int64

In [272]:
s2

c    2
d    3
e    4
dtype: int64

In [273]:
s3

f    5
g    6
dtype: int64

In [274]:
pd.concat([s1,s2,s3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [275]:
df1 = DataFrame(np.arange(6).reshape(3,2),
               index=['a','b','c'], columns=['one', 'two'])
df2 = DataFrame(np.arange(4).reshape(2,2),
               index=['a','c'], columns=['three', 'four'])

In [276]:
df1

   one  two
a    0    1
b    2    3
c    4    5

In [277]:
df2

   three  four
a      0     1
c      2     3

In [280]:
pd.concat([df1, df2], axis=1)

   one  two  three  four
a    0    1      0     1
b    2    3    NaN   NaN
c    4    5      2     3

In [281]:
a = Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan],
          index=['f', 'e', 'd', 'c', 'b', 'a'])
b = Series(np.arange(len(a), dtype=np.float64),
          index=['f', 'e', 'd', 'c', 'b', 'a'])

In [282]:
a

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64

In [286]:
b

f     0
e     1
d     2
c     3
b     4
a   NaN
dtype: float64

In [285]:
b[-1]=np.nan

In [289]:
# 각 인덱스에서, a의 값이 없는 경우는 b의 해당 인덱스의 값을 가져온다
np.where(pd.isnull(a), b, a)

array([ 0. ,  2.5,  2. ,  3.5,  4.5,  nan])

In [288]:
pd.isnull(a)

f     True
e    False
d     True
c    False
b    False
a     True
dtype: bool