In [34]:
lang = u'파이썬'
version = 2
print(u'현재 사용되는 ' + lang + u' 버전은 ' + unicode(version) + u'.x 입니다.')

현재 사용되는 파이썬 버전은 2.x 입니다.

In [36]:
u'안녕'+u'하세요'

u'\uc548\ub155\ud558\uc138\uc694'

In [6]:
int('')

3

## 연습문제

변수 lang에는 ‘파이썬’, version 에는 숫자 2를 저장한다. 두 변수를 활용해 다음을 출력한다.

현재 사용되는 파이썬 버전은 2.x 입니다.

변수 text에는 다음과 같은 문자열이 저장되어 있다. 문자열에서 '파이썬'만 추출해 변수 lang에 저장한다.

text = '빅데이터를 위한 파이썬'

In [29]:
text = u'빅데이터를 위한 파이썬'
print(text[0:3])

빅데이

In [22]:
text = '빅데이터를 위한 파이썬'
text2 = 'big python'
print(text2[-1::-1])

nohtyp gib

변수 text에 'b'가 있는지를 확인해, 모든 'b'의 인덱스를 출력한다.

In [38]:
text = 'adddbdaadsfasdfasdqergabjdfldgadgadbbdb'
print('b' in text)

# 반복문으로 b가 없을 때까지, 문자열 끝까지 반복
text.find('b')

True

4

들여쓰기

In [89]:
less =[]
greater = []
array = [1,2,3,4]
pivot = 2

for x in array:
    """여러줄은 
    이런 방식으로 하실 수 있습니다.
    """
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

print(less)
print(greater)

[1]
[2, 3, 4]

# 스칼라 자료형

In [6]:
ival = 1234567890

In [7]:
ival**6 # 6제곱

3540705968149597751242378595390670323015412790761000000L

In [8]:
fval = 7.243
fval2 = 6.78e-5

In [9]:
fval

7.243

In [10]:
fval2

6.78e-05

In [11]:
3/2

1

In [12]:
3/2.0

1.5

In [13]:
3/float(2)

1.5

In [14]:
3//2

1

## 문자열

In [15]:
a='one'
b="two"
c="""three
four
five"""

In [16]:
a

'one'

In [17]:
b

'two'

In [18]:
c

'three\nfour\nfive'

In [19]:
print(c)

three
four
five

In [20]:
a

'one'

In [21]:
a[0]

'o'

In [24]:
a[3]

IndexError: string index out of range

In [25]:
a[1:]

'ne'

In [26]:
a = 'one two three'

In [27]:
a[0:5] # 0 <=  <5

'one t'

In [28]:
a[-1] # 마지막 값

'e'

In [29]:
a[-2]

'e'

In [30]:
a[-2:]

'ee'

In [31]:
a[4:7] # two 만 추출

'two'

### 연산자

In [70]:
print('안녕'+'하세요')

안녕하세요

In [99]:
print('참 잘했어요! '*10)

참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요! 참 잘했어요!

### 문자열 템플릿

In [33]:
template = '내 이름은 %s입니다.'
print(template % '이성주')

내 이름은 이성주입니다.

In [34]:
template = '내 이름은 {}입니다.'
print(template.format('이성주'))

내 이름은 이성주입니다.

In [39]:
template = '{2} {1} {0}'
text = template.format('one', 'two', 'three')
print(text)

three two one

# 날짜시간

In [40]:
from datetime import datetime, date, time

now = datetime.now()

In [41]:
now

datetime.datetime(2015, 3, 19, 16, 41, 37, 530050)

In [43]:
dt = datetime(2011,10,29,20,30,21)
print(dt.day)
print(dt.minute)

29
30

In [44]:
dt.date()

datetime.date(2011, 10, 29)

In [45]:
dt.time()

datetime.time(20, 30, 21)

In [46]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [47]:
dt.strftime('%Y-%m-%d %H:%M')

'2011-10-29 20:30'

In [49]:
datetime.strptime('20091031', '%m%d%Y')

ValueError: time data '20091031' does not match format '%m%d%Y'

In [50]:
a

'one two three'

In [51]:
a[::2]

'oetotre'

In [52]:
lang = 'python'
lang[::2]

'pto'

In [53]:
lang[::-1]

'nohtyp'

# 자료구조

## list

In [40]:
numbers = [1,2,3,4,5]
type(numbers)

list

### 인덱싱

In [5]:
print(numbers[1])
numbers[1] = 4
print(numbers)
print(numbers[-1])

2
[1, 4, 3, 4, 5]
5

### 슬라이싱

In [6]:
numbers[2:]

[3, 4, 5]

In [7]:
numbers[2:4]

[3, 4]

In [8]:
numbers[-2:]

[4, 5]

In [45]:
# 역순으로 
numbers[::-1]

[5, 4, 3, 2, 1]

In [52]:
print(id(numbers))
print(id(numbers[::-1]))
numbers.reverse()
print(numbers)

4370659880
4365522416
[5, 4, 3, 2, 1]

다차원 자료에서 파이썬 리스트 슬라이싱의 한계

In [50]:
data_2d = [[1,2,3], [4,5,6], [7,8,9]]
data_2d[1][:2]
# 열 방향 자료 슬라이싱 ... 은 불가.
[data_2d[1][1], data_2d[2][1]]
# 한계 극복을 위해 NumPy 도입

[5, 8]

In [82]:
alist.append(5)
print(alist)

[4, 2, 3, 5]

In [83]:
alist.pop()
print(alist)

[4, 2, 3]

### 연산자

In [64]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [65]:
[1,2]*[3,4]

TypeError: can't multiply sequence by non-int of type 'list'

In [67]:
[1,2] * 3

[1, 2, 1, 2, 1, 2]

In [59]:
[1,2] == [3,4]

False

In [60]:
[1,2] == [1,2]

True

In [61]:
[1,2] == [2,1]

False

값 비교는 첫 번째부터

In [62]:
[1,2] > [3,4]

False

In [63]:
[1,2] < [3,4]

True

## dict

In [13]:
profile = {'name': '이성주', 
           'email': 'seongjoo@codebasic.co'}
print(profile['email'])

seongjoo@codebasic.co

In [14]:
'twitter' in profile

False

In [15]:
profile['twitter'] = '@LeeSeongjoo'
print(profile)

{'twitter': '@LeeSeongjoo', 'name': '\xec\x9d\xb4\xec\x84\xb1\xec\xa3\xbc', 'email': 'seongjoo@codebasic.co'}

In [85]:
data = [['남자1호', '남자2호', '남자3호'], 
        ['여자1호', '여자2호', '여자3호']]

In [87]:
for name in data[0][1:3]:
    print(name)

남자2호
남자3호

In [88]:
for name in [data[0][1], data[1][1]]:
    print(name)

남자2호
여자2호

## 도전과제

각 사람은 이름, 이메일, 나이의 정보를 갖는다. 이 사람들의 정보를
{name: ... , email: ... , age:...}와 같은 형태로 
표현한다. 세 명의 사람의 정보를 설정하시오.

a. 전화번호 정보를 추가하시오.

b. 모든 사람의 나이에 1을 더해 정보를 갱신하시오.

## tuple

In [69]:
tup = (1,2,3)

In [73]:
tup[1:]

(2, 3)

In [10]:
tup[0] = 4 # 오류!

NameError: name 'tup' is not defined

# 반복문

In [68]:
for n in [1,2,3,4]:
    print(n)

1
2
3
4

In [55]:
for face in ['^0^', '^-^', 'ㅡㅡ+', 'ㅡㅡ;']:
    print(face)

^0^
^-^
ㅡㅡ+
ㅡㅡ;

In [53]:
# 숫자의 제곱으로 구성된 새로운 리스트를 생성
nums_square = []
for n in [1,2,3,4,5]:
    # 리스트에 제곱값을 추가
    nums_square.append(n**2)
print(nums_square)

[1, 4, 9, 16, 25]

In [54]:
# 내장 리스트 (list comprehension) 스타일
# 배열 내에서 반복문 실행
nums_square = [n**2 for n in [1,2,3,4,5]]
print(nums_square)

[1, 4, 9, 16, 25]

In [62]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
range(2,11)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
range(0,10,2)

[0, 2, 4, 6, 8]

In [63]:
for x in range(10):
    print('참 잘했어요!')

참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!
참 잘했어요!

In [68]:
for i, x in enumerate(range(10)):
    print i+1, '참 잘했어요!'

1 참 잘했어요!
2 참 잘했어요!
3 참 잘했어요!
4 참 잘했어요!
5 참 잘했어요!
6 참 잘했어요!
7 참 잘했어요!
8 참 잘했어요!
9 참 잘했어요!
10 참 잘했어요!

## while 문

In [84]:
x=1
while x<5:
    print(x)
    x += 1

1
2
3
4

In [85]:
isTrueLove = True
while isTrueLove:
    #print("I love you")
    pass

KeyboardInterrupt:

## 도전과제

포커 카드는 52장이다. 각 카드는 문양(suit)와 숫자(rank)로 이루어진다. 문양은 Diamond, Heart, Spade, Clover 4 종류이고, 숫자는 2, 3, … , 9, 10, J, Q, K, A의 13개의 값이다. 52장의 포커 카드를 생성해 변수 deck에 저장하시오.


예: ‘Diamond 3’, ‘Heart Q’

a. 각 포커 카드의 정보를 문자열 형태로 저장하시오. 

b. 각 포커 카드 정보를 리스트 자료 구조로 저장하시오. 예: [‘Diamond’, 3], [‘Heart’, ‘Q’]

c. 한 줄의 구문으로 전체 포커 카드를 생성하시오.

In [86]:
suits = ['Heart', 'Diamond', 'Clover', 'Spade']
ranks = range(2,11)+['J', 'Q', 'K', 'A']
deck = []
for s in suits:
    for r in ranks:
        card = [s, r]
        deck.append(card)

#print(deck)

# 덱에 저장된 카드에서 숫자 정보를 추출
for card in deck[:5]:
    print(card[1])

2
3
4
5
6

In [87]:
deck = [[s,r] 
        for s in ['Heart', 'Diamond', 'Spade', 'Clover'] 
        for r in range(2,11)+['J','Q','K', 'A']]
deck[:5]

[['Heart', 2], ['Heart', 3], ['Heart', 4], ['Heart', 5], ['Heart', 6]]

## 도전과제
6면 주사위는 1부터 6까지의 값을 갖는다. 주사위를 굴릴 때 나온 윗면의 숫자의 누적 합계를 구한다. 누적 합계가 100 이상이 될 때까지 몇 번을 던졌는지를 표시하는 프로그램을 작성한다. [a, b] 구간에서 무작위 숫자를 구하는 구문은 다음과 같다.
	
    import random
    # 0 이상 1 이하의 무작위 정수 생성
	n = random.randint(0, 1)

In [90]:
import random
total = 0
count = 0 # 던진 횟수
while total < 100:
    # 주사위 윗면값 구하기
    face = random.randint(1,6)
    # 주사위 윗면값을 누적합계에 반영
    total += face
    # 던진 횟수 증가
    count += 1

print("던진 횟수: "+ str(count))

던진 횟수: 32

# 제어

In [57]:
x = 10
if x < 5:
    fruit = 'banana'
else:
    fruit = 'apple'

print(fruit)

apple

In [91]:
hour = 13
greeting = 'Good'
if 5 < hour < 12:
    # 아침인사
    greeting += ' morning'
elif 12 <= hour < 18:
    greeting += ' afternoon'
else:
    greeting += ' night!'

print(greeting)

Good afternoon

# 도전과제

3-6-9 게임

숫자에 3,6,9가 하나 이상 있으면 숫자 대신 '짝!'을 출력한다.

In [103]:
for n in range(1,50):
    if '3' in str(n) or '6' in str(n) or '9' in str(n):
        print('짝!')
    else:
        print(n)

1
2
짝!
4
5
짝!
7
8
짝!
10
11
12
짝!
14
15
짝!
17
18
짝!
20
21
22
짝!
24
25
짝!
27
28
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!
짝!
40
41
42
짝!
44
45
짝!
47
48
짝!

# 객체 활용 기본

In [17]:
numbers = [1,2,3,4,5]
type(numbers)

list

In [18]:
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 5, 6]

In [20]:
profile = {'name':'이성주'}
type(profile)

dict

In [21]:
age = profile.get('age',-1)
print(age)

-1

In [22]:
numbers.get('age', '-1') # 오류!

AttributeError: 'list' object has no attribute 'get'

In [23]:
profile.append('email') # 오류!

AttributeError: 'dict' object has no attribute 'append'

# 함수

In [106]:
def hello_world():
    msg = 'hello, world!'
    return msg

greeting = hello_world()
print(greeting)

hello, world!

In [113]:
def juicer(ingredient='strawberry', name=None):
    if name is not None:
        print(u'{} 님, 주문하신 음료 나왔습니다.'.format(name))
    processed = ingredient[::-1]
    check_total = 10
    return processed, check_total

juice, bill = juicer('blueberry')
print(juice, bill)
juice, bill = juicer('orange', u'이성주')

yrrebeulb 10
이성주 님, 주문하신 음료 나왔습니다.

In [90]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x+y) # 결과를 반환하고, 함수는 종료
    else:
        return z / (x+y)

In [91]:
my_function(1) # 오류! 필요한 인자가 모자름.

TypeError: my_function() takes at least 2 arguments (1 given)

In [92]:
my_function(1,2)

4.5

In [93]:
my_function(1,2,0.5) # 선택적 인자 z의 값을 지정

0.16666666666666666

In [94]:
my_function(z=0.5, x=1, y=2) # 인자 지정

0.16666666666666666

두 개 이상의 결과 반환(return)

In [101]:
# 함수 정의
def foo(a,b):
    return a*2, b*2

# 함수 호출
aa, bb = foo(1,2)
print(aa,bb)

result = foo(1,2)
print(type(result))
print(result[0], result[1])

(2, 4)
<type 'tuple'>
(2, 4)

## 도전과제

리스트, 문자열과 같은 시퀀스를 받아서 홀수번째 원소만 선택해 반환하는 함수 its_odd를 정의하시오.

예: 

    result = its_odd(u'파이썬')
    print(result) # '파썬'
    
    result = its_odd([1,2,3,4,5])
    print(result) # [1,3,5]

In [115]:
def its_odd(seq):
    odd_seq = seq[::2]
    return odd_seq

print(its_odd(u'파이썬'))
print(its_odd(range(1,6)))

파썬
[1, 3, 5]

## 도전과제

피보나치 수열은 다음과 같다.

0 1 1 2 3 5 8 ... 

a. 임의의 n개의 피보나치 수열을 리스트로 반환하는 함수 generate_fibo를 작성하시오.

b. generate_fibo 호출 시, 시작 숫자 두 개를 지정할 수 있도록 하시오. 인자를 설정하지 않으면 수열은 0,1로 시작한다. 생성 개수를 지정하지 않으면, 기본적으로 10개의 숫자를 생성하도록 만드시오.

In [124]:
def generate_fibo(a=0,b=1, n=10):
    """피보나치 수열 생성 함수
    n: 수열 개수
    """
    # 생성한 수열을 담을 리스트
    fibos = [a,b]
    # 리스트의 현재 크기 확인. n보다 작으면 생성
    while len(fibos) < n:
        # 새로 생성한 값을 수열에 추가
        fibos.append(a+b)
        # a와 b값을 새 값으로 갱신
        a, b = fibos[-2], fibos[-1]
    return fibos

print(generate_fibo(n=5))

[0, 1, 1, 2, 3]

In [125]:
generate_fibo?

In [126]:
import pandas as pd

In [128]:
pd.DataFrame?

## 도전과제

포커 카드 52장을 게임 참가자에게 각각 5장씩 나눠주는 프로그램을 작성하시오. 포커 카드는 참가자에게 나눠주기 전에 무작위로 섞여야 한다. 참가자의 수는 2-4명이 될 수 있다.

a. 포커 카드를 나눠주고 나서 각 참가자가 받은 포커 카드를 모두 출력한다.

b. 각 참자자의 카드의 숫자를 기준으로 오름차순으로 정렬해 출력한다.

## 도전과제
52장의 포커 카드가 있다. 이 카드를 사용해 블랙잭 게임을 한다.

블랙잭 게임은 각 참가자가 처음에 두 장의 카드를 받는다.
각 카드의 숫자를 모두 더 해 21인지 확인한다.

- 21이면 블랙잭! 게임이 종료되고 승리한다.
- 숫자의 합이 21보다 작으면 한 장의 카드를 더 받는다.
- 숫자의 합이 21보다 크면 게임에서 패배한다.

In [ ]:
import random

# 52장의 카드덱 생성
def 카드덱생성():
    카드숫자 = list(range(2,11))+['J', 'Q', 'K', 'A']
    카드문양 = ['Spade', 'Heart', 'Diamond', 'Clover']
    
    카드덱 = [] # 카드덱 초기화
    for 문양 in 카드문양:
        for 숫자 in 카드숫자:
            print(문양,숫자)
            카드덱.append([문양, 숫자])
            
    # 잘 섞기
    random.shuffle(카드덱)
    return 카드덱

# 블랙잭 게임 시작
카드덱=카드덱생성()

# 카드 두 장 받기
카드패 = [카드덱.pop(), 카드덱.pop()]
print('카드패:', 카드패)

# TODO: 블랙잭 평가
while True:
    # 현재 hand의 카드의 숫자를 모두 더한다.
    total=0
    for card in hand:
        # 현재 카드 출력
        print(card[0], card[1], end=' ')
        
        if card[1]=='A':
            total = total + 14
        elif card[1]=='K':
            total = total + 13
        elif card[1] == 'Q':
            total = total + 12
        elif card[1] == 'J':
            total = total + 11
        else:
            # 숫자인 경우는 그냥 더해준다.
            total = total + card[1]
    
    print('Total=', total)
    if total == 21:
        result = '블랙잭!!!!!!!'
        print(result)
        break
    elif total > 21:
        result = '돈 잃었다...'
        print(result)
        break
    elif total < 21:
        # 카드를 한 장 더 받는다.
        hand.append(deck.pop())
        result = '인생을 계속 살아봐야 아는 거지 ... 한 장 더'
        print(result)

## 도전과제
카드의 모음을 패(hand)라고 한다. 카드패에서 다음의 경우를 판정하는 프로그램을 작성한다.
1. 같은 숫자 네 개가 있는 경우
2. 숫자 다섯 개가 연속되는 경우
3. 같은 문양이 다섯 개인 경우
4. 같은 숫자 쌍이 있는 경우